/* General Styles */

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
}

input[type="text"] {
  width: 200px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: #007bff;
}

/* Dropdown and Button Styles */

select {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}

select:focus {
  border-color: #007bff;
}

button.btn-primary {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

button.btn-primary:hover {
  background-color: #0056b3;
}

/* Sorting and Pagination Sections */

.sorting, .page {
  margin-bottom: 20px;
}

table.table-dark {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table.table-dark th, table.table-dark td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table.table-dark th {
  background-color: #343a40;
  color: #fff;
}

table.table-dark td {
  background-color: #484e53;
  color: #fff;
}
