


  <div class="parent">

    <div class="left">
    
      <nav class="nav">Employees Dashboard
        
      </nav> <hr>
    
      <h2 routerLink="home">About Company</h2> 
    
      <h2 routerLink="employees"> Employees</h2> <br>


      <button class="btn btn danger" (click)="logout()"> Logout</button>
    
    </div>


    
  <div class="right">
    
    <router-outlet>  </router-outlet>

    <img src="https://img.freepik.com/premium-vector/welcoming-lifestyle-marketplace-website-landing-page_5883-1099.jpg?w=996" alt="">
    
    </div>
    
    </div>


  




